@import ../../../styles/helpers
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap')

$n1: #141416
$n2: #23262F
$n3: #353945
$n4: #777E90
$n5: #B1B5C3
$n6: #E6E8EC
$n7: #F4F5F6
$n8: #FCFCFD

.wrap
    padding-bottom: 4px
    font-family: 'Poppins', sans-serif

.table
    display: table
    width: 100%

.row
    display: table-row
    color: $n2
    font-size: 14px
    transition: background .2s
    &:first-child
        .col
            padding-top: 20px
            border-bottom: 1px solid $n7
            +caption-bold-2
            color: $n3
            +dark
                border-color: $n2
                color: $n8
    &:not(:first-child):not(:last-child)
        .col
            border-bottom: 1px solid $n6
            +dark
                border-color: $n2
    &:not(:first-child)
        &:hover
            background: $n7
            +dark
                background: $n2

.col
    display: table-cell
    padding: 16px
    +m
        padding: 16px 8px
    +dark
        color: #FCFCFD
    &:first-child
        padding-left: 32px
    &:last-child
        padding-right: 32px
    &:nth-child(3),
    &:nth-child(4),
    &:last-child
        text-align: right
    &:nth-child(2)
        +t
            display: none
    &:not(:first-child):not(:last-child)
        +m
            display: none

.currency
    display: flex
    +m
        position: relative
        bottom: -3px

.icon
    flex-shrink: 0
    width: 32px
    margin-right: 20px
    +m
        margin-right: 12px
    img
        width: 100%

.info
    font-weight: 500

.text
    color: $n4

.category
    padding: 0px 8px
    font-size: 12px
    font-weight: bold
    border-radius: 5px
    width: fit-content