@import ../../styles/helpers
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap')

$n1: #141416
$n2: #23262F
$n3: #353945
$n4: #777E90
$n5: #B1B5C3
$n6: #E6E8EC
$n7: #F4F5F6
$n8: #FCFCFD

.top
    padding: 32px
    background: $n8
    border-radius: 4px
    font-family: 'Poppins', sans-serif
    color: #fff
    +dark
        background: #18191D

.line
    display: flex
    align-items: center
    margin-bottom: 20px
    +m
        flex-wrap: wrap

.title
    margin-right: auto
    font-family: 'Poppins', sans-serif
    font-weight: 600
    font-size: 32px
    +m
        flex: 0 0 100%
        margin: 0 0 20px

.wrap
    display: flex
    align-items: center
    +m
        flex-wrap: wrap

.form
    position: relative
    flex-shrink: 0
    width: 256px
    margin-right: 8px
    +d
        width: 220px
    +m
        width: 100%
        margin: 0 0 16px

.input
    width: 100%
    height: 40px
    padding: 0 40px 0 14px
    border-radius: 20px
    background: none
    border: 2px solid $n6
    // +poppins
    +caption-2
    color: $n2
    transition: border-color .2s
    +dark
        border-color: $n3
        color: $n8
    +placeholder
        color: $n4
    &:focus
        border-color: $n4

.result
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 40px
    svg
        fill: $n4
        transition: fill .2s
    &:hover
        svg
            fill: $p1

.dropdown
    margin-right: 8px

.dropdownHead
    height: 40px
    line-height: 40px
    background: $n6
    border-radius: 20px
    +dark
        background: $n3

.info
    margin-bottom: 4px
    font-weight: 500
    font-size: 15px
    color: #777E8F

.currency
    display: flex
    align-items: center

.number
    +body-bold-1
    font-size: 25px

.category
    margin-left: 8px
    padding: 0px 8px
    font-size: 12px
    font-weight: bold
    border-radius: 5px

.price
    +body-2
    color: $n4
    font-size: 16px

.head
    padding: 20px 32px 4px
    font-size: 14px
    margin-left: 0px
    font-weight: 600 !important
    color: $n5
    +m
        padding: 20px 0 8px

.body
    background: $n8
    border-radius: 4px
    overflow: hidden
    +dark
        background: #18191D